:root {
  --black: #000000;
  --white: #ffffff;
  --checkBg: #37a4771a;
  --blueish: #ebf1fd;
  --paracol1: #404b65;
  --paracol2: #28365542;
  --paracol3: #727272;
  --headerCol: #1e1f26;
  --bgFaintWhite: #fbfbfd;
  --faintPurple: #f4f1f8;
  --faintGreen: #f1f7f6;
  --faintPink: #fbf3ee;
  --faintGrey: #f1f4fc;
  --brown: #d18660;
  --green: #37a477;
  --blue: #336eeb;
  --faintpink2: #fbf4ee;
  --inactive: #c9c9ca;
  --opacity: #00000005;
  --footer: #171d32;
}
nav {
}

.linksXbtn {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  width: 68.186rem;
}

.linksXbtn ul {
  display: flex;
  gap: 2rem;
}
.linksXbtn ul li,
.linksXbtn ul li a {
  list-style: none;
  text-decoration: none;
  color: var(--black);
  font-size: 1.5rem;
}

.linksXbtn ul li a:hover {
  color: var(--green);
}
.embed1,
.embed2 {
  position: relative;
}

.embed1Ol,
.embed2ol {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 1.5rem;
  left: -2rem;
  z-index: 10;
  background-color: var(--white);
  /* width: 20rem; */
  /* height: 20rem; */
  padding: 4rem;
  gap: 2rem;
  justify-content: center;
  align-items: start;
  border-radius: 0.5rem;
  border: 1px solid red;
}

.embed1Ol li,
.embed2ol li {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.5rem;
  width: 100%;
  height: 4.5rem;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid green;
  text-wrap: nowrap;
  font-weight: bold;
}
.embed1:hover .embed1Ol {
  display: flex;
}

.saving {
  position: relative;
}
.saving:hover .nested {
  display: flex;
  flex-direction: column;
}

.nested {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0rem;
  left: 19rem;
  z-index: 10;
  background-color: var(--white);
  /* width: 20rem; */
  /* height: 20rem; */
  padding: 4rem;
  gap: 2rem;
  justify-content: center;
  align-items: start;
  border-radius: 0.5rem;
  border: 1px solid blue;
}
.iconConts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: red;
}

.embed1Ol li img,
.embed2ol li img {
  width: 2rem;
  height: 2rem;
}

nav .flagCont {
  position: relative;
  border: 1px solid green;
}
nav .flagDrop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.689rem;
  height: 3.7rem;
  border: 1px solid var(--inactive);
  color: var(--paracol1);
  gap: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
}
nav .flagDrop p {
  display: none;
}
nav .flagDrop:hover {
  background-color: var(--paracol2);
}
nav .flagCont img {
  width: 2rem;
  height: 1.4rem;
}

nav button {
  border: none;
  width: 11.9rem;
  height: 3.8rem;
  background-color: var(--black);
  border-radius: 1rem;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
}
nav .flagMenu {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12.289rem;
  height: 9.2rem;
  background-color: var(--white);
  position: absolute;
  z-index: 4;
  left: 0;
  /* display: none; */
}
/* .hidden {
  display: none;
} */

nav .flagMenu span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 3rem;
  border: 1px solid green;
  font-size: 1.5rem;
  font-weight: bolder;
}

nav .flagMenu span:hover {
  background-color: var(--paracol2);
}
nav .harm {
  display: none;
}

.bigDisplay {
  /* width: 87.736rem; */
  width: 80%;
  height: 62.2rem;
  margin-top: 5rem;
}

.bigDisplay h1 {
  font-size: 4.5rem;
  height: 16.2rem;
  width: 53rem;
}

.innerMain .div1,
.innerMain .div2,
.innerMain .div3,
.innerMain .div4,
.innerMain .div5,
.innerMain .div6 {
  width: 30%;
}
.innerMain .div1 h1 {
  font-size: 4rem;
  /* width: 37.5rem; */
  /* height: 9.6rem; */
}

.innerMain .div1 p {
  /* width: 37.5rem; */
  /* height: 12rem; */
}

.innerMain .div2 span {
  font-size: 7.5rem;
}
.innerMain .div3 span {
  font-size: 5rem;
}
.innerMain .div4 span {
  font-size: 7.5rem;
}

.innerMain .div5 span {
  font-size: 7.5rem;
}

.innerMain .div6 span {
  font-size: 3.6rem;
}
.innerMain h6 {
  font-weight: bolder;
}

.article1 .div1 {
  width: 85.6rem;
  height: 46.5rem;
}

.article1 .div1 p {
  font-size: 2rem;
}

.innerArt3 {
  width: 90%;

  flex-direction: row;
  height: 77.9rem;
}

.article3 .names {
  overflow-x: auto;

  width: 26.131rem;
  height: 42.7rem;
  flex-direction: column;
}

.names .fname {
  width: 100%;
  text-wrap: wrap;
}

.boxes {
  /* width: 108.1rem; */
  width: 100%;
}
.boxes .box1 {
  width: 43.3rem;
}

.innerAside .imgCont {
  width: 41.592;
  height: 43.4rem;
}

.innerAside .imgCont img {
  width: 23rem;
  height: 45rem;
}

.article3 .names {
  /* display: flex;
  justify-content: start;
  align-items: center;
  width: 43.469rem;
  height: 11.2rem; */
  /* overflow-x: scroll; */
  /* gap: 2rem; */
}
/* .testText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 37.469rem;
  height: 27.759rem;

  overflow-y: scroll;
} */
.testText p {
  height: 27.759rem;

  overflow-y: scroll;
}

header .bottom {
  /* width: 43.469rem; */
  width: 80%;
  height: 21rem;
}

.testimonies {
  justify-content: center;
}
.innerart2 .firstbox p {
  font-size: 2.4rem;
  text-align: start;
  line-height: 4rem;
  width: 57.72rem;
  height: 11rem;
}

.article3 h1 {
  font-size: 4rem;
}
